#presentation{
  padding-top: 50px;
}

#ligne{
  border-top: 1px solid black;
  margin-top : 30px;
  padding-bottom: 80px;
}

#logo{
  padding-top: 50px;
  margin : auto;
}

.carousel-inner{
  width: 1000px;
}

 #connexion{
   margin : auto;
   padding-top : 50px;
   padding-bottom : 75px;
   padding-right : 150px;
   padding-left : 150px;
 }

 #titre_connexion{
  margin : auto;
  padding-top : 50px;
  text-align: center;
 }

 #join_connexion{
  margin : auto;
  text-align: center;
 }

 #modele_moto{
   margin : auto;
   margin-top : 100px;
 }

 #panier_titre{
   padding-top : 50px;
   text-align : center;
 }

 #panier_titre h1{
   font-size : 75px;
 }

 #erreur{
  color:red;
  display: none;
  text-align:center;

}

#navCo{
  display: none;
}